ConvolutionalNeuralNetworks/week_2/1. Residual Networks/resnet50.h5
ConvolutionalNeuralNetworks/week_3/1. Autonomous Driving Application/model_data/variables/variables.data-00000-of-00001
ConvolutionalNeuralNetworks/week_4/2. Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
